{% extends 'newsapp/Frontpage.html' %}
{% block carousel %}<div></div>{% endblock %}
{% block content %}
        <div class = "row">
        {% for result in results%}
            <div class = "card col-md-4" style="border:none;">
            <div class = "card-img-top" style="display:inline-block;">
                <img src="{{ result.img }}" class = "img-fluid w-100" alt="">
                {{ value|linebreaks }}
                <h4>{{ result.title }}</h4>
            </div>

                <p class = "card-text" style="display:inline-block;font-size: large;">{{ result.desc }}</p>
                {{ value|linebreaks }}
            </div>

        {% endfor %}
       </div>

{% endblock %}