{% extends 'newsapp/Frontpage.html' %}
{% block carousel %}<div></div>{% endblock %}
{% block content %}
<div class = "card-columns">
        {% for result_list in results%}
            <div class = "card " >
            <div class = "card-img-top" style="display:inline-block;">
                <img src="{{ result_list.img }}" class = "img-fluid w-100" alt="">
                {{ value|linebreaks }}
                <h4>{{ result_list.title }}</h4>
            </div>

                <p class = "card-text" style="display:inline-block;font-size: small;">{{ result_list.desc }}</p>
                {{ value|linebreaks }}
            </div>

        {% endfor %}
        </div>
{% endblock %}