# Default ignored files
/shelf/
/workspace.xml
venv/
# Datasource local storage ignored files
/../../../../../../../:\Users\aumva\PycharmProjects\djangoProject\News\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

